<!doctype html>
{% extends "base/base.html" %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
    <section class="my-contact-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    {% include "components/breadcrumbs.html" %}
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <p class="lead">Чтобы связаться со мной заполните форму обратной связи</p>
                            <form name="contact-form" action="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="name" class="visually-hidden">Ваше имя</label>
                                            <input type="text" id="name" class="form-control" placeholder="Ваше имя">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="email" class="visually-hidden">Ваша почта</label>
                                            <input type="text" id="email" class="form-control" placeholder="Ваша почта">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <label for="subject" class="visually-hidden">Тема</label>
                                            <input type="text" id="subject" class="form-control" placeholder="Тема">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <label for="message" class="visually-hidden">Ваше сообщение</label>
                                            <textarea type="text" id="message" rows="2" class="form-control md-textarea" placeholder="Ваше сообщение"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="text-center text-md-start my-3">
                                <button class="btn btn-primary" type="submit">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
</html>