<!DOCTYPE html>
{% extends 'base/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<section class="all-posts">
    <div class="container">
        <h1 class="my-4 text-center">Последние записи блога</h1>
        <div class="row">
            {% include "components/card.html" with image_url="image/one.png" title="Заголовок" description="описание" detail_url="#" date="21.02.2021" %}
            {% include "components/card.html" with image_url="image/one.png" title="Заголовок" description="описание" detail_url="#" date="21.02.2021" %}
            {% include "components/card.html" with image_url="image/one.png" title="Заголовок" description="описание" detail_url="#" date="21.02.2021" %}
            {% include "components/card.html" with image_url="image/one.png" title="Заголовок" description="описание" detail_url="#" date="21.02.2021" %}
            {% include "components/card.html" with image_url="image/one.png" title="Заголовок" description="описание" detail_url="#" date="21.02.2021" %}
            {% include "components/card.html" with image_url="image/one.png" title="Заголовок" description="описание" detail_url="#" date="21.02.2021" %}
        </div>
    </div>
</section>
{% include "components/pagination.html" %}
{% endblock %}
</body>
</html>