<!doctype html>
{% extends "base/base.html" %}

{% block title %}Детали записи{% endblock %}

{% block content %}
    <section class="my-post-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% include "components/breadcrumbs.html" %}  
                    <img class="img-fluid rounded " src="img/dog.jpg" alt="">
                    <hr>
                    <p class="lead">Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац. Это основной абзац.</p>
                    <p>А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы.</p>
                    <p>А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы. А это отипа остальные абзацы.</p>
                    <div class="d-flex justify-content-end">
                        <a href="" class="badge text-bg-info me-1">#NuxtJS</a>
                        <a href="" class="badge text-bg-info">#CSS</a>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div class="lead">Автор: Вася Пупкин</div>
                        <div>Опубликовано: 20.10.2020</div>
                    </div>
                    <hr>
                    <div class="card my-4">
                        <h5 class="card-header">Прокомментируй:</h5>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control mb-3" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </form>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img class="rounded-circle" src="http://placehold.it/50x50" alt="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="mt-0">Дуся Иванова</h5>
                            Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье. Мое очень важное мнение по данной статье.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-4">
                        <h5 class="card-header">Теги</h5>
                        <div class="card-body">
                            <div class="d-flex flex-wrap">
                                <a href="" class="m-2 h5 text-primary">#CSS</a>
                                <a href="" class="m-2 h5 text-primary">#JavaScript</a>
                                <a href="" class="m-2 h5 text-primary">#DRF</a>
                                <a href="" class="m-2 h5 text-primary">#NuxtJS</a>
                                <a href="" class="m-2 h5 text-primary">#Django</a>
                                <a href="" class="m-2 h5 text-primary">#VueJS</a>
                            </div>
                        </div>
                    </div>
                    <div class="card my-4">
                        <h5 class="card-header">Последние статьи</h5>
                        <div class="card-body">
                            <h5 class="card-title">Раз пост</h5>
                            <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
                            <a href="#" class="card-link">Ссылка на статью</a>
                        </div>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title">Два пост</h5>
                            <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
                            <a href="#" class="card-link">Ссылка на статью</a>
                        </div>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title">Три пост</h5>
                            <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
                            <a href="#" class="card-link">Ссылка на статью</a>
                        </div>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title">Четыре пост</h5>
                            <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
                            <a href="#" class="card-link">Ссылка на статью</a>
                        </div>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title">Пять пост</h5>
                            <p class="card-text">Какой-то вступительный текст. Какой-то вступительный текст. Какой-то вступительный текст.</p>
                            <a href="#" class="card-link">Ссылка на статью</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
</html>